@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Boxicons -->
    <link href="https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css" rel="stylesheet">
    <!-- My CSS -->
    <link rel="stylesheet" href="@Url.Content("~/css/site.css")">
    <!-- Thêm toastr CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" />
</head>
<body>

    <!-- CONTENT -->
    <section id="content">
        <!-- NAVBAR -->
        <nav>
            <i class='bx bx-menu'></i>

            <form method="post">
                <div class="form-input">
                    <input type="search" placeholder="Search...">
                    <button type="submit" class="search-btn"><i class='bx bx-search'></i></button>
                </div>
            </form>
            <input type="checkbox" id="switch-mode" hidden>
            <label for="switch-mode" class="switch-mode"></label>
            <a class="notification">
                <i class='bx bxs-bell'></i>
                <span class="num">8</span>
            </a>
            <a class="profile">
                <img src="~/images/—Pngtree—cartoon pig head_4235799.png">
            </a>
        </nav>
        <!-- NAVBAR -->
        <!-- MAIN -->
        <main>
            <div class="head-title">
                <div class="left">
                    <h1>Dashboard</h1>
                    <ul class="breadcrumb">
                        <li>
                            <a href="#">Dashboard</a>
                        </li>
                        <li><i class='bx bx-chevron-right'></i></li>
                        <li>
                            <a class="active" href="#">Home</a>
                        </li>
                    </ul>
                </div>
               
            </div>

            <ul class="box-info">
                <li>
                    <i class='bx bxs-book'></i>
                    <span class="text">
                        <h3>50</h3>
                        <p>Course</p>
                    </span>
                </li>
                <li>
                    <i class='bx bxs-group'></i>
                    <span class="text">
                        <h3>1001</h3>
                        <p>Student</p>
                    </span>
                </li>

            </ul>


        </main>
        <!-- MAIN -->
    </section>
    <!-- CONTENT -->
    <!-- Thêm jQuery và toastr JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="@Url.Content("~/js/site.js")"></script>

    <script type="text/javascript">
        @if (TempData["success"] != null)
        {
            <text>
                toastr.success('@TempData["success"]');
            </text>
        }

        @if (TempData["error"] != null)
        {
            <text>
                toastr.error('@TempData["error"]');
            </text>
        }
    </script>
</body>
</html>