@{
    ViewBag.Title = "editUser";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
@model StudentManager.Models.User

<section id="sidebar">
    <a asp-controller="Home" asp-action="Index" class="brand">
        <img class="bx bxs-smile png-stu" src="~/images/LogoBTEC-1.png" alt="Alternate Text" />
        <span class="text text-png">Student Management</span>
    </a>
    <ul class="side-menu top">
        <li>
            <a asp-controller="Home" asp-action="Index">
                <i class='bx bxs-dashboard'></i>
                <span class="text">Dashboard</span>
            </a>
        </li>
        <li>
            <a asp-controller="Student" asp-action="Index">
                <i class='bx bxs-user'></i>
                <span class="text">Student Management</span>
            </a>
        </li>
        <li>
            <a asp-controller="Course" asp-action="Index">
                <i class='bx bxs-book'></i>
                <span class="text">Course Management</span>
            </a>
        </li>
        <li class="active">
            <a asp-controller="User" asp-action="Index">
                <i class='bx bxs-user-pin'></i>
                <span class="text">User Management</span>
            </a>
        </li>

    </ul>
    <ul class="side-menu">
       
        <li>
            <form asp-controller="Login" asp-action="Logout" method="post" style="display:inline;">
                <button type="submit" class="logout" style="background:none; border:none; cursor:pointer; color:red;">
                    <i class='bx bxs-log-out-circle' style="color:red;"></i>
                    <span class="text" style="color:red;">Logout</span>
                </button>
            </form>
        </li>
    </ul>
</section>
<section id="content">
    <!-- NAVBAR -->
    <nav>
        <i class='bx bx-menu'></i>
        <form action="#">
            <div class="form-input">
                <input type="search" placeholder="Search...">
                <button type="submit" class="search-btn"><i class='bx bx-search'></i></button>
            </div>
        </form>
        <input type="checkbox" id="switch-mode" hidden>
        <label for="switch-mode" class="switch-mode"></label>
        <a href="#" class="notification">
            <i class='bx bxs-bell'></i>
            <span class="num">8</span>
        </a>
        <a href="#" class="profile">
            <img src="~/images/—Pngtree—cartoon pig head_4235799.png">
        </a>
    </nav>
    <!-- NAVBAR -->
    <!-- MAIN -->
    <main>
        <div class="head-title">
            <div class="left">
                <h1>Update User</h1> 
                <ul class="breadcrumb">
                    <li>
                        <a href="#">Dashboard</a>
                    </li>
                    <li><i class='bx bx-chevron-right'></i></li>
                    <li>
                        <a asp-controller="Student" asp-action="Index"> User Management </a>
                    </li>
                    <li><i class='bx bx-chevron-right'></i></li>

                    <li>
                        <a class="active" href="#">Edit</a>
                    </li>
                </ul>
            </div>

            <a class="btn btn-success" asp-controller="User" asp-action="Index">Back</a>
        </div>

        <div class="content">
            <form asp-action="EditUser" method="post">
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="Username">Full Name</label>
                    <input asp-for="Username" type="text" class="form-control" placeholder="Full Name">
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email">Email address</label>
                    <input asp-for="Email" type="email" class="form-control" placeholder="Enter email">
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password">Password</label>
                    <input asp-for="Password" type="text" class="form-control" placeholder="Password">
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="select-gender">
                    <label asp-for="Role">Role</label>
                    <select asp-for="Role" class="form-select" aria-label="Default select example" style="width: 100%; padding: 8px; border: 1px solid #ced4da; border-radius: 5px;">
                        <option value="" disabled selected>---Choose---</option>
                        <option value="Admin">Admin</option>
                        <option value="Teacher">Teacher</option>
                        <option value="Student">Student</option>
                    </select>
                    <span asp-validation-for="Role" class="text-danger"></span>
                </div>
                <div>
                    <label asp-for="Status">Status</label>
                    <select asp-for="Status" class="form-select" aria-label="Default select example" style="width: 100%; padding: 8px; border: 1px solid #ced4da; border-radius: 5px;">
                        <option value="" disabled selected>---Choose---</option>
                        <option value="Active">Active</option>
                        <option value="Deactive">Deactive</option>
                    </select>
                    <span asp-validation-for="Status" class="text-danger"></span>
                </div>
                <div class="btn-add" style="margin-top: 20px; right:0">
                    <button type="submit" class="btn btn-primary">Update</button>
                </div>
            </form>
        </div>


    </main>
    <!-- MAIN -->
</section>